.header-style{ 
background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.grid-style{
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.img-style{
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 50%;
}
.banner-style{
    background-color: black;
    background-position: center;
    opacity: 0.7;
    border-radius: 12px;
    text-align: center;
    color: whitesmoke;
}
.banner-style h1{
    color: whitesmoke;
    text-align: center;
    font-weight: bolder; 
    padding-top: 0.10em;   
}
.banner-style hr{
    border-bottom: rgba(255, 255, 255, 0.541) double 0.5em;
    width: 50%;
    margin: auto;
}
.banner-style p{
    font-size: 3em;
    padding: 1em;
}
    
.reseaux-sociaux{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.reseaux-sociaux a{
color: white;
padding-bottom: 1em;
}

.projetreact p{
    position: center;
    text-align: justify;
}
.projetreact{
    display: flex;
    margin: auto;
    border-radius: center;
}
.center {
    display: block;
    margin-left: auto;
    width: 40%;
    position: center;
}
.portfolio{
    position: center;
    display: block;
    width: 300px;
    height:230px;
    margin: auto;
}
.projetreact{
    color: red;
    position: left;
    margin: auto;
    background: whitesmoke;
}
.img-style{
    width: 50%;
}
.contact-body{
    background: rgb(214, 48, 84);
    width: 100%;
    height: 100%;
    position: fixed;
}
.contact-grid{
    margin: auto;
    width: 90%;
    height: 90%;
    background: whitesmoke;
    color: black;
    text-align: center;
}
.contact-grid h2{
    font-family: 'Press Start 2P','cursive';
    font-size: 14px;
    text-align: center;
}
.contact-grid p{
    font-family: 'Press Start 2P';
    font-size: 9px;
    position: center;
    text-align: center;
}

.contact-grid hr{
    border-top: 0.2em double black;
    margin: auto;
    width: 50%;
}

.contact-mail p{
    font-size: medium;    
    text-align: center;
    position: center;
    font-family: 'Press Start 2P','cursive';
}
.contact-num p{
    font-size: medium;
    text-align: center;
    font-family: 'Press Start 2P','cursive ' ;
}

.contact-skype p{
    font-family: 'Press Start 2P', 'cursive';
    font-size: medium;
    
}

.cv-body{
    text-align: center;
    font-family: 'Press Start 2P', 'cursive';
}